[Desktop Entry]
Name=DEVSimPy
Comment=Python DEVS modelling environment
Comment[fr]=Environnement de simulation DEVS
Exec=devsimpy
Icon=''
Terminal=true
MultipleArgs=false
Type=Application
Categories=GTK;GNOME;Development;ProjectManagement;
# vi: encoding=utf-8
